.cardImage{
    height: 200px;
}

.foodWrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 20px;
    gap: 20px;
}

.foodBody{
    height: 140px;
}

.foodBody b{
    color: coral;
}

.foodFooter{
    padding: 1rem;    
}

.foodDesc{
    padding-bottom: 20px;
}

.foodFooter .foodLink{
    display: flex;
    justify-content: center;
    align-items: center;
}

.addFood{
    transition: 0.2s ease;
    height: 410px;
}

.addFood:hover{
    cursor: pointer;
    scale: 0.9;
}

.addFoodBody{
    color: rgb(108, 108, 108);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(201, 201, 201);
}