.file-upload {
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
}
  
.btn-upload {
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    font-size: 10px;
    width: 70px;
}